LudusGestao.API/bin/Debug/net8.0/appsettings.Development.json
LudusGestao.API/bin/Debug/net8.0/appsettings.json
LudusGestao.API/bin/Debug/net8.0/AspNetCoreRateLimit.dll
LudusGestao.API/bin/Debug/net8.0/AutoMapper.dll
LudusGestao.API/bin/Debug/net8.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
LudusGestao.API/bin/Debug/net8.0/BCrypt.Net-Next.dll
LudusGestao.API/bin/Debug/net8.0/FluentValidation.AspNetCore.dll
LudusGestao.API/bin/Debug/net8.0/FluentValidation.DependencyInjectionExtensions.dll
LudusGestao.API/bin/Debug/net8.0/FluentValidation.dll
LudusGestao.API/bin/Debug/net8.0/HealthChecks.NpgSql.dll
LudusGestao.API/bin/Debug/net8.0/Humanizer.dll
LudusGestao.API/bin/Debug/net8.0/LudusGestao.API.deps.json
LudusGestao.API/bin/Debug/net8.0/LudusGestao.API.dll
LudusGestao.API/bin/Debug/net8.0/LudusGestao.API.exe
LudusGestao.API/bin/Debug/net8.0/LudusGestao.API.pdb
LudusGestao.API/bin/Debug/net8.0/LudusGestao.API.runtimeconfig.json
LudusGestao.API/bin/Debug/net8.0/LudusGestao.API.staticwebassets.endpoints.json
LudusGestao.API/bin/Debug/net8.0/LudusGestao.Application.dll
LudusGestao.API/bin/Debug/net8.0/LudusGestao.Application.pdb
LudusGestao.API/bin/Debug/net8.0/LudusGestao.Domain.dll
LudusGestao.API/bin/Debug/net8.0/LudusGestao.Domain.pdb
LudusGestao.API/bin/Debug/net8.0/LudusGestao.Infrastructure.dll
LudusGestao.API/bin/Debug/net8.0/LudusGestao.Infrastructure.pdb
LudusGestao.API/bin/Debug/net8.0/MediatR.Contracts.dll
LudusGestao.API/bin/Debug/net8.0/MediatR.dll
LudusGestao.API/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
LudusGestao.API/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
LudusGestao.API/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
LudusGestao.API/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
LudusGestao.API/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
LudusGestao.API/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
LudusGestao.API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
LudusGestao.API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
LudusGestao.API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
LudusGestao.API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
LudusGestao.API/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
LudusGestao.API/bin/Debug/net8.0/Microsoft.Extensions.Configuration.dll
LudusGestao.API/bin/Debug/net8.0/Microsoft.Extensions.Configuration.FileExtensions.dll
LudusGestao.API/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Json.dll
LudusGestao.API/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
LudusGestao.API/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
LudusGestao.API/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
LudusGestao.API/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Abstractions.dll
LudusGestao.API/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Physical.dll
LudusGestao.API/bin/Debug/net8.0/Microsoft.Extensions.FileSystemGlobbing.dll
LudusGestao.API/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
LudusGestao.API/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
LudusGestao.API/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
LudusGestao.API/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
LudusGestao.API/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
LudusGestao.API/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
LudusGestao.API/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
LudusGestao.API/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
LudusGestao.API/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
LudusGestao.API/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
LudusGestao.API/bin/Debug/net8.0/Microsoft.OpenApi.dll
LudusGestao.API/bin/Debug/net8.0/Mono.TextTemplating.dll
LudusGestao.API/bin/Debug/net8.0/Newtonsoft.Json.dll
LudusGestao.API/bin/Debug/net8.0/Npgsql.dll
LudusGestao.API/bin/Debug/net8.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
LudusGestao.API/bin/Debug/net8.0/Serilog.AspNetCore.dll
LudusGestao.API/bin/Debug/net8.0/Serilog.dll
LudusGestao.API/bin/Debug/net8.0/Serilog.Extensions.Hosting.dll
LudusGestao.API/bin/Debug/net8.0/Serilog.Extensions.Logging.dll
LudusGestao.API/bin/Debug/net8.0/Serilog.Formatting.Compact.dll
LudusGestao.API/bin/Debug/net8.0/Serilog.Settings.Configuration.dll
LudusGestao.API/bin/Debug/net8.0/Serilog.Sinks.Console.dll
LudusGestao.API/bin/Debug/net8.0/Serilog.Sinks.Debug.dll
LudusGestao.API/bin/Debug/net8.0/Serilog.Sinks.File.dll
LudusGestao.API/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
LudusGestao.API/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
LudusGestao.API/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
LudusGestao.API/bin/Debug/net8.0/System.CodeDom.dll
LudusGestao.API/bin/Debug/net8.0/System.Composition.AttributedModel.dll
LudusGestao.API/bin/Debug/net8.0/System.Composition.Convention.dll
LudusGestao.API/bin/Debug/net8.0/System.Composition.Hosting.dll
LudusGestao.API/bin/Debug/net8.0/System.Composition.Runtime.dll
LudusGestao.API/bin/Debug/net8.0/System.Composition.TypedParts.dll
LudusGestao.API/bin/Debug/net8.0/System.Diagnostics.DiagnosticSource.dll
LudusGestao.API/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
LudusGestao.API/bin/Debug/net8.0/System.IO.Pipelines.dll
LudusGestao.API/bin/Debug/net8.0/System.Text.Encodings.Web.dll
LudusGestao.API/bin/Debug/net8.0/System.Text.Json.dll
LudusGestao.API/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
LudusGestao.API/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
LudusGestao.API/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
LudusGestao.API/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
LudusGestao.API/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
LudusGestao.API/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
LudusGestao.API/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
LudusGestao.API/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
LudusGestao.API/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
LudusGestao.API/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
LudusGestao.API/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
LudusGestao.API/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
LudusGestao.API/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
LudusGestao.API/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
LudusGestao.API/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
LudusGestao.API/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
LudusGestao.API/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
LudusGestao.API/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
LudusGestao.API/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
LudusGestao.API/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
LudusGestao.API/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
LudusGestao.API/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
LudusGestao.API/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
LudusGestao.API/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
LudusGestao.API/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
LudusGestao.API/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
LudusGestao.API/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
LudusGestao.API/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
LudusGestao.API/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
LudusGestao.API/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
LudusGestao.API/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
LudusGestao.API/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
LudusGestao.API/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
LudusGestao.API/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
LudusGestao.API/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
LudusGestao.API/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
LudusGestao.API/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
LudusGestao.API/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
LudusGestao.API/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
LudusGestao.API/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
LudusGestao.API/bin/Debug/net8.0/runtimes/browser/lib/net8.0/System.Text.Encodings.Web.dll
LudusGestao.API/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
LudusGestao.API/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
LudusGestao.API/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
LudusGestao.API/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
LudusGestao.API/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
LudusGestao.API/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
LudusGestao.API/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
LudusGestao.API/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
LudusGestao.API/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
LudusGestao.API/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
LudusGestao.API/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
LudusGestao.API/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
LudusGestao.API/obj/LudusGestao.API.csproj.nuget.dgspec.json
LudusGestao.API/obj/LudusGestao.API.csproj.nuget.g.props
LudusGestao.API/obj/LudusGestao.API.csproj.nuget.g.targets
LudusGestao.API/obj/project.assets.json
LudusGestao.API/obj/project.nuget.cache
LudusGestao.API/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
LudusGestao.API/obj/Debug/net8.0/apphost.exe
LudusGestao.API/obj/Debug/net8.0/LudusGes.C9EA10A7.Up2Date
LudusGestao.API/obj/Debug/net8.0/LudusGestao.API.AssemblyInfo.cs
LudusGestao.API/obj/Debug/net8.0/LudusGestao.API.AssemblyInfoInputs.cache
LudusGestao.API/obj/Debug/net8.0/LudusGestao.API.assets.cache
LudusGestao.API/obj/Debug/net8.0/LudusGestao.API.csproj.AssemblyReference.cache
LudusGestao.API/obj/Debug/net8.0/LudusGestao.API.csproj.CoreCompileInputs.cache
LudusGestao.API/obj/Debug/net8.0/LudusGestao.API.csproj.FileListAbsolute.txt
LudusGestao.API/obj/Debug/net8.0/LudusGestao.API.dll
LudusGestao.API/obj/Debug/net8.0/LudusGestao.API.GeneratedMSBuildEditorConfig.editorconfig
LudusGestao.API/obj/Debug/net8.0/LudusGestao.API.genruntimeconfig.cache
LudusGestao.API/obj/Debug/net8.0/LudusGestao.API.GlobalUsings.g.cs
LudusGestao.API/obj/Debug/net8.0/LudusGestao.API.MvcApplicationPartsAssemblyInfo.cache
LudusGestao.API/obj/Debug/net8.0/LudusGestao.API.MvcApplicationPartsAssemblyInfo.cs
LudusGestao.API/obj/Debug/net8.0/LudusGestao.API.pdb
LudusGestao.API/obj/Debug/net8.0/LudusGestao.API.sourcelink.json
LudusGestao.API/obj/Debug/net8.0/staticwebassets.build.endpoints.json
LudusGestao.API/obj/Debug/net8.0/staticwebassets.build.json
LudusGestao.API/obj/Debug/net8.0/ref/LudusGestao.API.dll
LudusGestao.API/obj/Debug/net8.0/refint/LudusGestao.API.dll
LudusGestao.API/obj/Debug/net8.0/staticwebassets/msbuild.build.LudusGestao.API.props
LudusGestao.API/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.LudusGestao.API.props
LudusGestao.API/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.LudusGestao.API.props
LudusGestao.Application/bin/Debug/net8.0/LudusGestao.Application.deps.json
LudusGestao.Application/bin/Debug/net8.0/LudusGestao.Application.dll
LudusGestao.Application/bin/Debug/net8.0/LudusGestao.Application.pdb
LudusGestao.Application/bin/Debug/net8.0/LudusGestao.Domain.dll
LudusGestao.Application/bin/Debug/net8.0/LudusGestao.Domain.pdb
LudusGestao.Application/obj/LudusGestao.Application.csproj.nuget.dgspec.json
LudusGestao.Application/obj/LudusGestao.Application.csproj.nuget.g.props
LudusGestao.Application/obj/LudusGestao.Application.csproj.nuget.g.targets
LudusGestao.Application/obj/project.assets.json
LudusGestao.Application/obj/project.nuget.cache
LudusGestao.Application/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
LudusGestao.Application/obj/Debug/net8.0/LudusGes.B803F270.Up2Date
LudusGestao.Application/obj/Debug/net8.0/LudusGestao.Application.AssemblyInfo.cs
LudusGestao.Application/obj/Debug/net8.0/LudusGestao.Application.AssemblyInfoInputs.cache
LudusGestao.Application/obj/Debug/net8.0/LudusGestao.Application.assets.cache
LudusGestao.Application/obj/Debug/net8.0/LudusGestao.Application.csproj.AssemblyReference.cache
LudusGestao.Application/obj/Debug/net8.0/LudusGestao.Application.csproj.CoreCompileInputs.cache
LudusGestao.Application/obj/Debug/net8.0/LudusGestao.Application.csproj.FileListAbsolute.txt
LudusGestao.Application/obj/Debug/net8.0/LudusGestao.Application.dll
LudusGestao.Application/obj/Debug/net8.0/LudusGestao.Application.GeneratedMSBuildEditorConfig.editorconfig
LudusGestao.Application/obj/Debug/net8.0/LudusGestao.Application.GlobalUsings.g.cs
LudusGestao.Application/obj/Debug/net8.0/LudusGestao.Application.pdb
LudusGestao.Application/obj/Debug/net8.0/LudusGestao.Application.sourcelink.json
LudusGestao.Application/obj/Debug/net8.0/ref/LudusGestao.Application.dll
LudusGestao.Application/obj/Debug/net8.0/refint/LudusGestao.Application.dll
LudusGestao.Domain/bin/Debug/net8.0/LudusGestao.Domain.deps.json
LudusGestao.Domain/bin/Debug/net8.0/LudusGestao.Domain.dll
LudusGestao.Domain/bin/Debug/net8.0/LudusGestao.Domain.pdb
LudusGestao.Domain/obj/LudusGestao.Domain.csproj.nuget.dgspec.json
LudusGestao.Domain/obj/LudusGestao.Domain.csproj.nuget.g.props
LudusGestao.Domain/obj/LudusGestao.Domain.csproj.nuget.g.targets
LudusGestao.Domain/obj/project.assets.json
LudusGestao.Domain/obj/project.nuget.cache
LudusGestao.Domain/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
LudusGestao.Domain/obj/Debug/net8.0/LudusGestao.Domain.AssemblyInfo.cs
LudusGestao.Domain/obj/Debug/net8.0/LudusGestao.Domain.AssemblyInfoInputs.cache
LudusGestao.Domain/obj/Debug/net8.0/LudusGestao.Domain.assets.cache
LudusGestao.Domain/obj/Debug/net8.0/LudusGestao.Domain.csproj.CoreCompileInputs.cache
LudusGestao.Domain/obj/Debug/net8.0/LudusGestao.Domain.csproj.FileListAbsolute.txt
LudusGestao.Domain/obj/Debug/net8.0/LudusGestao.Domain.dll
LudusGestao.Domain/obj/Debug/net8.0/LudusGestao.Domain.GeneratedMSBuildEditorConfig.editorconfig
LudusGestao.Domain/obj/Debug/net8.0/LudusGestao.Domain.GlobalUsings.g.cs
LudusGestao.Domain/obj/Debug/net8.0/LudusGestao.Domain.pdb
LudusGestao.Domain/obj/Debug/net8.0/LudusGestao.Domain.sourcelink.json
LudusGestao.Domain/obj/Debug/net8.0/ref/LudusGestao.Domain.dll
LudusGestao.Domain/obj/Debug/net8.0/refint/LudusGestao.Domain.dll
LudusGestao.Infrastructure/bin/Debug/net8.0/LudusGestao.Application.dll
LudusGestao.Infrastructure/bin/Debug/net8.0/LudusGestao.Application.pdb
LudusGestao.Infrastructure/bin/Debug/net8.0/LudusGestao.Domain.dll
LudusGestao.Infrastructure/bin/Debug/net8.0/LudusGestao.Domain.pdb
LudusGestao.Infrastructure/bin/Debug/net8.0/LudusGestao.Infrastructure.deps.json
LudusGestao.Infrastructure/bin/Debug/net8.0/LudusGestao.Infrastructure.dll
LudusGestao.Infrastructure/bin/Debug/net8.0/LudusGestao.Infrastructure.pdb
LudusGestao.Infrastructure/bin/Debug/net8.0/LudusGestao.Infrastructure.runtimeconfig.json
LudusGestao.Infrastructure/obj/LudusGestao.Infrastructure.csproj.nuget.dgspec.json
LudusGestao.Infrastructure/obj/LudusGestao.Infrastructure.csproj.nuget.g.props
LudusGestao.Infrastructure/obj/LudusGestao.Infrastructure.csproj.nuget.g.targets
LudusGestao.Infrastructure/obj/project.assets.json
LudusGestao.Infrastructure/obj/project.nuget.cache
LudusGestao.Infrastructure/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
LudusGestao.Infrastructure/obj/Debug/net8.0/LudusGes.209446E1.Up2Date
LudusGestao.Infrastructure/obj/Debug/net8.0/LudusGestao.Infrastructure.AssemblyInfo.cs
LudusGestao.Infrastructure/obj/Debug/net8.0/LudusGestao.Infrastructure.AssemblyInfoInputs.cache
LudusGestao.Infrastructure/obj/Debug/net8.0/LudusGestao.Infrastructure.assets.cache
LudusGestao.Infrastructure/obj/Debug/net8.0/LudusGestao.Infrastructure.csproj.AssemblyReference.cache
LudusGestao.Infrastructure/obj/Debug/net8.0/LudusGestao.Infrastructure.csproj.CoreCompileInputs.cache
LudusGestao.Infrastructure/obj/Debug/net8.0/LudusGestao.Infrastructure.csproj.FileListAbsolute.txt
LudusGestao.Infrastructure/obj/Debug/net8.0/LudusGestao.Infrastructure.dll
LudusGestao.Infrastructure/obj/Debug/net8.0/LudusGestao.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
LudusGestao.Infrastructure/obj/Debug/net8.0/LudusGestao.Infrastructure.genruntimeconfig.cache
LudusGestao.Infrastructure/obj/Debug/net8.0/LudusGestao.Infrastructure.GlobalUsings.g.cs
LudusGestao.Infrastructure/obj/Debug/net8.0/LudusGestao.Infrastructure.pdb
LudusGestao.Infrastructure/obj/Debug/net8.0/LudusGestao.Infrastructure.sourcelink.json
LudusGestao.Infrastructure/obj/Debug/net8.0/ref/LudusGestao.Infrastructure.dll
LudusGestao.Infrastructure/obj/Debug/net8.0/refint/LudusGestao.Infrastructure.dll
